# Virtual environments
.venv

# Evaluation script
evaluate_all.py

# Generated graphs folder
graphs/
Client/Hospital_*/results/

# Trained model weights
Centralized/global_model.pth
Centralized/received_data/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit local database
streamlit_predictions.db